# Week 08 - Lab 03 Python and MySQL

## 1. MySQL


This lab will go through how to navigate connecting to a MySQL database in python using [`MySQL`](https://www.w3schools.com/python/python_mysql_getstarted.asp), however others can be used like [`SQLalchemy`](https://www.sqlalchemy.org/).

First it is [installed](https://pypi.org/project/mysql-connector-python/) as below;

`conda install mysql-connector-python`

## 2. Create a database

The first part of the lab is to create a database as shown below in `createdatabase.py` called `wsaa`.


<p align="center">
  <img src="createdatabase.png" />
</p>

## 3. Insert data into `wsaa.db` in `student` table 

Next data is added into the `wsaa.db` database in a new table called `student` as shown below in `addtable.py` with an auto incrementing primary key, name and age.


<p align="center">
  <img src="addtable.png" />
</p>

## 4. CRUD operations 

Typical CRUD operations (create, read, update and delete) were performed in `crud_ops.py` with the code and output shown below. 


<p align="center">
  <img src="crud_ops.png" />
</p>


`1 record inserted, ID: 1`

## 5. View data

The data in the db can be viewed in `view_data.py` below with the python output

<p align="center">
  <img src="view_data.png" />
</p>


`(1, 'Mary', 21)`

## 6. Update data

The updated data in the db can be viewed in `updated_data.py` below with the first row being updated.

<p align="center">
  <img src="update_data.png" />
</p>

## 7. Delete data

The deleted data in the db can be viewed in `delete_data.py` below with the first row being deleted.

<p align="center">
  <img src="delete_data.png" />
</p>