# Week 08 - Lab 01 Databases

## 1. Installation of MySQL Database 

For the first part of this lab a MySQL database was installed using [WAMP](https://www.wampserver.com/en/download-wampserver-64bits/) as this PC runs on a Windows OS. All the specific SQL commands used as part of this lab is located in the file `lab_08_01.sql` in this directory. 

When downloaded an error occured where several versions of the Visual C++ Redistribuable packages were missing. 

<p align="center">
  <img src="install_error.png" />
</p>

From the WAMP error codes, the best way to install Visual C++ Redistributable Packages is from [WAMP Server](https://wampserver.aviatechno.net/) and the 64-bit [VC++ Packages](https://wampserver.aviatechno.net/) were downloaded. To ensure all the required VC++ Packages were insalled using **VisualCppRedist AIO** developed by [*abbodi1406*](https://github.com/abbodi1406/vcredist). Using the MySQL Console of WAMP Server below, the system was properly configured after the fix

<p align="center">
  <img src="my_sql_login.png" />
</p>

## 2. MySQL Database

Using the MySQL Console there should be no databases present by using the `show databases;` command except the four default databases (`information_schema`, `mysql`, `performance_schema`, and `sys`) as shown below.

<p align="center">
  <img src="show_databases.png" />
</p>

## 3. Create a MySQL database

The following commands were used in the MySQL Console to create a database (`pfda`) and insert data into the `student` table. 

#### - Create a database called pdfa
&emsp;&emsp;`create database pfda;`

#### - Use database pfda using use
&emsp;&emsp;`use pfda;`

#### - Create a table called `student` with three columns 
&emsp;&emsp;`create table student (id int, firstname varchar(100), age int(3));`

#### - Insert data into student
&emsp;&emsp;`insert into student (id, firstname, age) values (1,'joe',56);`

#### - View data in student table
&emsp;&emsp;`select * from student;`

#### - View column types in student
&emsp;&emsp;`desc student;`

#### - Update data in student 
&emsp;&emsp;`update student set firstname='mary' where id = 1;`

#### - Delete data in student 
&emsp;&emsp;`Delete from student where id = 1;`

#### - Drop the table in pfda
&emsp;&emsp;`drop table student;`

## 3. MySQL Database - Books

Make a table called `book` that has four columns (id, title, author, price) and insert data into it. 

The following commands were used. 

#### - Create a table called `book` with four columns (id, tite, author price)
&emsp;&emsp;`create table book (id int, title varchar(250), author varchar(250), price decimal(4,2) NOT NULL);`

#### - Insert data into book
&emsp;&emsp;`insert into book (id, title, author, price) values (1,'Horns', 'Joe Hill',10.33);`

&emsp;&emsp;`insert into book (id, title, author, price) values (2,'The Stand', 'Stephen King',10.30);`

&emsp;&emsp;`insert into book (id, title, author, price) values (3,'Tress of the Emerald Sea', 'Brandon Sanderson',9.37);`

&emsp;&emsp;`insert into book (id, title, author, price) values (4,'Forth Wing', 'Rebecca Yarros',5.50);`

#### - View data in book table
&emsp;&emsp;`select * from book;`


#### - View column types in book
&emsp;&emsp;`desc book;`


Viewing the data for `book` in **phpMyAdmin** shows the data below. 
<p align="center">
  <img src="book.png" />
</p>