# Week 08 - Lab 02 Python and SQLite3

## 1. SQLite3 

[SQLite3](https://docs.python.org/3/library/sqlite3.html) is standard python module that does not require a server such as with MySQL completed as part of *lab_08_01.ipynb*. The SQLite3 module can intregrate with the SQLite database directly through python and provides a simple interface to interact with said database (further information on SQLite3 is found [here](https://www.geeksforgeeks.org/python-sqlite/)).

This lab will go through how to navigate the SQLite3 module.

## 2. Create a database

The first part of the lab is to create a database as shown below in `createbooktable.py`


<p align="center">
  <img src="createbooktable.png" />
</p>

## 3. Insert data into `pfda.db`

Next data is added into the `pfda.db` database as shown below in `insertnotebook.py`


<p align="center">
  <img src="insertnotebook.png" />
</p>

This returns an output of 

`None`

`('Harry Pothead', 'Just Kidding Really', '112344')`


The above is missing a `con.commit()` command and when `insertnotebook.py` is updated with this command.

## 4. Use fetchall to get the entire table

All rows were returned in `getallbooks.py` with the code and output shown below. 


<p align="center">
  <img src="getallbooks.png" />
</p>


`row('Harry Pothead', 'Just Kidding Really', '112344')`

`row('Harry Potter does something profound', 'JK Rowling', '123444')`

## 5. SQL injection

If input is taken from user (directly or indirectly), it is better practice to not put the data in as a SQL string, but to write a program to do this. This was done with `enterbook.py` below. 

This was tested using *Stephen Kings The Stand* which has as ISBN-10 of *9780307743688* which has the below code and output. 

<p align="center">
  <img src="enterbook.png" />
</p>


`row('Harry Pothead', 'Just Kidding Really', '112344')`

`row('Harry Potter does something profound', 'JK Rowling', '123444')`

`row('The Stand', 'Stephen King', '9780307743688')`